# Clase 1

Esta clase es para aprender las bases de python

In [ ]:
A = 40
B = 10
# Comparación 
if(A>B)
    print("Es mayor", A)
else:
    print("Es mayor", B)

# Clase 2

# Clase 3

In [ ]:
A = 5 # Int
a = "cinco" # Str
b = True # bool
c = 17,3 # double, float

# Tupla
B = (2,3,7) # Inmutable No cambian

# Lista
D = ["Juan", "Carlos"] # Es modificable

# Diccionario
E = {SP : 7}

In [5]:
print("La variable es: ", type(34))

La variable es:  <class 'int'>

In [7]:
print("La variable es: ", type(7.15))

La variable es:  <class 'float'>

In [8]:
print("La variable es: ", type("sapo"))

La variable es:  <class 'str'>

In [9]:
print("La variable es: ", type(True))

La variable es:  <class 'bool'>

# Variables que almacenan multiples datos

In [10]:
# Declaracion o creacion de una Tupla
No_modificable = (1, 2, 3, 4)
# Mostrar el tipo de la variable
print("La variable es tipo: ", type(No_modificable))

La variable es tipo:  <class 'tuple'>

In [11]:
# Creacion de una lista
Nom_Comp = ["Juan", "Esteban", "Duran", "Perez"]
# Mostrar el tipo de variable
print("La variable es de tipo: ", type(Nom_Comp))

La variable es de tipo:  <class 'list'>

In [15]:
Dictionary = { "Juan" : 8,
              "Esteban" : 7,
              "Duran" : 6,
              "Perez" : 5,
              "Enero" : 4,
              "Ocho" : 3,
              "Dosmilcinco" : 2,
              "Cedula" : 1}
print("La variable es de tipo: ", type(Dictionary))

La variable es de tipo:  <class 'dict'>

In [23]:
# Importar librerias pandas
import pandas as pd

datos = {
    "Nombre":["Juan", "Maria", "Luis"],
    "Edades":[20, 30, 40],
    "Ciudad":["Madrid", "Barcelona", "Valencia"],
    "Altura":[1.85, 1.65, 1.70],
    "ID":[1029640817, 1054427896, 1020860249],
    "Dep.Fav":["Baloncesto", "Voleibol", "Futbol"],
    "Profesion":["Programador", "Economista", "Albañil"]
}

# Crear un dataframe
Tabla = pd.DataFrame(datos)
# Mostrar el tipo de la variable
print("La variable es de tipo: ", type(Tabla))
print(Tabla)

La variable es de tipo:  <class 'pandas.core.frame.DataFrame'>
  Nombre  Edades     Ciudad  Altura          ID     Dep.Fav    Profesion
0   Juan      20     Madrid    1.85  1029640817  Baloncesto  Programador
1  Maria      30  Barcelona    1.65  1054427896    Voleibol   Economista
2   Luis      40   Valencia    1.70  1020860249      Futbol      Albañil